@page "/hottours"
@using BetterTravel.App.ViewModels
@using MatBlazor
@inject HttpClient Http

<h3>Hot Tours</h3>

<p>Fetched hot tours.</p>

@if (_ctx.Data is null)
{
    @if (_ctx.Error != null)
    {
        <p><em>@_ctx.Error</em></p>
    }

    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        @foreach (var row in _ctx.Data)
        {
            <div class="row">
                @foreach (var data in row)
                {
                    <HotTourCard Data="data" />
                }
            </div>
        }
    </div>
    <MatPaginator Length="100" PageSize="@_ctx.PageSize" Page="@_ctx.OnPaginationChange" />
}

@code {
    private HotToursViewModel _ctx;

    protected override async Task OnInitializedAsync()
    {
        _ctx = new HotToursViewModel(Http);
        await _ctx.InitializeContextAsync(this);
    }
}
