@page "/hottours"
@inherits BetterExtensions.BlazorMVVM.BasePage<HotToursViewModel>

@using BetterTravel.App.ViewModels
@using MatBlazor
@using BetterExtensions.BlazorMVVM

<h3>Hot Tours</h3>

<p>Fetched hot tours.</p>

@if (ViewModel.State is PageState.Loading)
{
    <p><em>Loading...</em></p>
}

@if (ViewModel.State is PageState.Error)
{
    <p><em>@ViewModel.Error</em></p>
}

@if (ViewModel.State is PageState.NoData)
{

}

@if (ViewModel.State is PageState.Normal)
{
    <MatPaginator Length="100" PageSize="@ViewModel.PageSize" Page="@ViewModel.OnPaginationChangeAsync" />
    <div class="container">
        @foreach (var row in ViewModel.Data)
        {
            <div class="row">
                @foreach (var data in row)
                {
                    <HotTourCard Data="data" />
                }
            </div>
        }
    </div>
}